@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Quicksand&display=swap');

* {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("img/recipe-background.jpg");
  
    /* Full height */
    height: auto; 
    max-width: 100%;
    display: block;
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    font-weight:700;
    display: flex;
    justify-content: center;
    color: white;
}
h2, h3 {
    font-family: 'Quicksand', sans-serif;
}
.mainMenu {
    
    height: 200px;
    padding: 200px  25px 25px 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 20px;
    font-weight:300;
    color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    padding: 30px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
}
.recipe-title{
    padding-top: 50px;
    text-align: center;

}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.menu{
    padding: 50px;
}
ul a{
    color:black;
}
